*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fredoka;
}
h1{
    color: #E53170;
    text-align: center;
    margin-bottom: 50px;
}
header{
    width: 70%;
    margin:20px auto;
}
main{
    width: 70%;
    margin: auto;
}
.intestazione{
    text-align: center;
    color: black;
}
img{
    width: 100px;
    display: inline-block;
    height: 100px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
  }
.box{
    
    float: left;
    background-color: rgb(15, 14, 23);
    height: 100px;
    margin-top: 50px;
    display: inline;
    width: calc( 93% / 3 );
  }
h3{
    color: white;
    
}
.box2{
    margin-right: 35px;
}
img{
    float: left;
    display: inline;
}
span{
    color: white;
    padding: 15px;
}
a{
    color:aquamarine;
}
.col{
    display: inline;
   padding: 10px;
}
strong{
    font-size: 20px;
}
p{
    color: white;
    
}